.field-loader{ 
    background: url( ../../images/loading-2.gif ) !important;
    background-size: 137px 37px !important;
    background-position: center !important;
}
.flooring-acc-calculation-tab-div{
    padding: 0 !important;
}
.flooring-acc-calculation-tab-div input[type=number]::-webkit-inner-spin-button, 
.flooring-acc-calculation-tab-div input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.flooring-acc-calculation-tab-div th{
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flooring-acc-calculation-tab-div select{
    width: 100%;
    min-width: 100px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
}
.flooring-acc-calculation-tab-div .text-field{
    width: calc(100% - 12px);
    min-width: 100px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
}
.flooring-acc-calculation-tab-div select option:first-child{
    background: #000;
    color: #FFF;
    font-weight: bold;
}
.flooring-acc-calculation-tab-div .text-input{
    width: calc(100% - 106px);
    min-width: 90px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    text-align: left;
}
.flooring-acc-calculation-tab-div .number-input{
    width: calc(100% - 12px);
    min-width: 38px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
    float: left;
}
.flooring-acc-calculation-tab-div .qty-input{
    width: 38px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    text-align: center;
    float: left;
}
.flooring-acc-calculation-tab-div .price-input{
    width: 43px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    text-align: right;
}
.flooring-acc-calculation-tab-div .bttn-input{
    width: 45px;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer;
    margin: 0 !important;
}
.flooring-acc-calculation-tab-div .checkbox-label{
    width: 45px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #999;
    font-size: 14px;
    cursor: pointer;
    margin: 0 !important;
}
.flooring-acc-calculation-tab-div .checkbox-label .ui-button-text{
    line-height: 24px;
}

.flooring-acc-calculation-table{
    width: 100%;
}
.flooring-acc-calculation-table th{
    height: 25px !important;
    vertical-align: top !important;
}
.flooring-acc-calculation-table td{
    height: 37px !important;
    vertical-align: middle !important;
}
.flooring-acc-calculation-table td,
.flooring-acc-calculation-table th {
    margin:0;
    white-space:nowrap;
}
.add-flooring-acc-calculation-quote-item-form{
    overflow-x:auto;
    margin-right:218px; 
    overflow-y:visible;
}
.flooring-acc-calculation-quote-items-body{
    overflow-x: auto;
    margin-left: 45px;
    margin-right: 212px;
    overflow-y: visible;
}

.flooring-acc-calculation-table .left-fixed-column {
    position: absolute;
    width: 47px;
    left: 0px;
    margin-top: 0px;
}
.flooring-acc-calculation-table .right-fixed-column {
    position: absolute;
    width: 230px;
    right: -8px;
    margin-top: -2px; 
}
.flooring-acc-calculation-table .right-fixed-column th{
    width: 57.5px !important;
}
.flooring-acc-calculation-table .right-fixed-column input[type='tel'],
.flooring-acc-calculation-table .right-fixed-column input[type='number']{
    width: 43px !important;
}
.flooring-acc-calculation-table .right-fixed-column .bttn-input{
    width: 55px !important;
}
.data-field:disabled,
.number-input:disabled,
[type='submit']:disabled{
    background: #f2f2f2 !important;
    cursor: not-allowed;
}

#flooring-acc-calculation-quote-items-results{
    width: 100%;
    margin-top: 15px;
}
.flooring-acc-calculation-quote-items-wrapper{
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #CCC;
}
.flooring-acc-calculation-header{
    font-size: 18px;
    margin-bottom: 15px;
}

.flooring-acc-calculation-table-more-bttn{
    font-size: 25px !important;
    padding-top: 0px !important;
    padding-left: 16px !important;
}
.red{
    color: red !important;
}
.flooring-acc-calculation-table-more{
    display: none;
    width: 100%;
}
.flooring-acc-calculation-table-more .table-more-notes{
    /*width: 409px;*/
    vertical-align: top;
    padding-left: 2px;
    padding-bottom: 2px;
}
.flooring-acc-calculation-table-more .table-more-notes .flooring-acc-calculation-notes{
    width: calc(100% - 14px);
    min-height: 25px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    float: left;
    resize: vertical;
}

.flooring-acc-calculation-table-more .table-more-accessories{
    width: 33.33%;
    vertical-align: top;
    padding-left: 2px;
}
.flooring-acc-calculation-table-more .table-more-accessories .flooring-acc-calculation-accessories-wrapper{
    display: block;
    overflow: auto;
    margin-bottom: 2px
}
.flooring-acc-calculation-table-more .table-more-per-meters{
    width: 33.33%;
    vertical-align: top;
    padding-left: 2px;
}
.flooring-acc-calculation-table-more .table-more-per-meters .flooring-acc-calculation-per-meters-wrapper{
    display: block;
    overflow: auto;
    margin-bottom: 2px
}
.flooring-acc-calculation-table-more .table-more-fitting-charges{
    width: 33.33%;
    vertical-align: top;
    padding-left: 2px;
}
.flooring-acc-calculation-table-more .table-more-fitting-charges .flooring-acc-calculation-fitting-charges-wrapper{
    display: block;
    overflow: auto;
    margin-bottom: 2px
}
.flooring-acc-calculation-table-more .table-more-accessories select{
    width: 224px !important;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    float: left;
}
.flooring-acc-calculation-table-more .table-more-per-meters select{
    width: 224px !important;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    float: left;
}
.flooring-acc-calculation-table-more .table-more-fitting-charges select{
    width: 270px !important;
    height: 37px;
    border-radius: 4px;
    border: 1px solid #999;
    padding: 5px;
    float: left;
}
.flooring-acc-calculation-table-more .table-more-accessories input[type='text']:disabled,
.flooring-acc-calculation-table-more .table-more-per-meters input[type='text']:disabled{
    width: 261px !important;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 5px;
    float: left;
}
.flooring-acc-calculation-table-more .table-more-fitting-charges input[type='text']:disabled{
    width: 258px !important;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #CCC;
    padding: 5px;
    float: left;
}

.flooring-acc-calculation-add-colour-wrapper,
.flooring-acc-calculation-add-field-option-wrapper{
    display: none;
}
.flooring-acc-calculation-add-colour-wrapper .bttn-input,
.flooring-acc-calculation-add-field-option-wrapper .bttn-input{
    margin-top: -2px !important;
    margin-left: -2px !important;
}
.flooring-acc-calculation-add-colour-option,
.flooring-acc-calculation-add-field-option-x{
    background: #000 !important;
    color: #FFF !important;
    font-weight: bold !important;
}

.bulk-action-button-wrapper{
    margin-top: 15px;
}
.bulk-action-button{
    font-size: 14px !important;
    height: 37px !important;
    min-width: 47px;
    margin-right: -3px;
}
.select-all-bttn{
    width: 47px;
    outline: none;
}
.print-bttn{
    display: inline-block !important;
    width: 60px;
    height: 35px !important;
}
.print-bttn .ui-button-text{
    line-height: 24px !important;
}